services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:80
    depends_on:
      - db
  
  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cloudtoweridc
      MYSQL_USER: cloudtoweridc
      MYSQL_PASSWORD: cloudtoweridc

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8081:80
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      
volumes:
  db_data: