<!DOCTYPE html>
<html>

<head>
    <title>用户登陆 - [config[seo_title]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="[templatePath]/css/style.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/css/themes/flat-blue.css">
</head>

<body class="flat-blue login-page">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                        <h4 class="login-title">[config[seo_title]]</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="login-body">
                            <div class="progress hidden" id="login-progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    注册中...
                                </div>
                            </div>
                            <form action="#" method="POST">
                                <div class="control">
                                    <input type="text" name="ytidc_username" class="form-control" placeholder="用户名" />
                                </div>
                                <div class="control">
                                    <input type="password" name="ytidc_password" class="form-control" placeholder="密码" />
                                </div>
                                <div class="control">
                                    <input type="password" name="ytidc_password2" class="form-control" placeholder="重复密码" />
                                </div>
                                <div class="login-button text-center">
                                    <input type="submit" class="btn btn-primary" value="注册">
                                    <a href="./index.php?p=Clientarea&a=Login" class="btn btn-default">登陆</a>
                                </div>
                            </form>
                        </div>
                        <div class="login-footer">
                            <span class="text-right"><a href="./index.php?p=Clientarea&a=Login" class="color-white">已有账号?前往登陆</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="[templatePath]/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/Chart.min.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/bootstrap-switch.min.js"></script>
    
    <script type="text/javascript" src="[templatePath]/lib/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/ace/ace.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/ace/mode-html.js"></script>
    <script type="text/javascript" src="[templatePath]/lib/js/ace/theme-github.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="[templatePath]/js/app.js"></script>
</body>

</html>
