<!DOCTYPE html>
<html>

<head>
    <title>用户中心 - [config[seo_title]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="[templatePath]/css/style.css">
    <link rel="stylesheet" type="text/css" href="[templatePath]/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active">用户中心V1</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">[config[seo_title]]</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="./index.php?p=Clientarea">
                                    <span class="icon fa fa-tachometer"></span><span class="title">管理后台</span>
                                </a>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-element">
                                    <span class="icon fa fa-desktop"></span><span class="title">服务管理</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-element" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="./index.php?p=Cart">购买服务</a>
                                            </li>
                                            <li><a href="./index.php?p=Clientarea&a=Services">在线服务管理</a>
                                            </li>
                                            <li><a href="./index.php?p=Clientarea&a=Workorders">工单管理</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-table">
                                    <span class="icon fa fa-table"></span><span class="title">财务管理</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-table" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="./index.php?p=Clientarea&a=Pay">在线充值</a>
                                            </li>
                                            <li><a href="./index.php?p=Clientarea&a=Pricesets">价格组升级</a>
                                            </li>
                                            <li><a href="./index.php?p=Clientarea&a=Orders">财务记录</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="./index.php?p=Clientarea&a=Notices">
                                    <span class="icon fa fa-thumbs-o-up"></span><span class="title">公告列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>